<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ArticleHistoryMapper">
	<resultMap type="articleHistory" id="articleHistoryMap">
		<id column="id" property="id" />
		<!-- private Integer id; private Integer aid; private Integer uid; -->
		<result column="uid" property="uid" />
		<result column="aid" property="aid" />
		<result column="createDate" property="createDate" />
	</resultMap>
	<!-- aid,uid -->
	<!-- #{aid},#{uid} -->
	<!-- 添加 -->
	<insert id="insert" keyColumn="id" keyProperty="id"
		useGeneratedKeys="true" parameterType="articleHistory">
		INSERT INTO articlehistory
		(uid,aid)
		VALUES
		(#{uid},#{aid})
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="articleHistory">
		UPDATE articlehistory
		SET
		uid =
		#{uid},aid = #{aid}
		WHERE
		id = #{id}
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="integer">
		DELETE FROM articlehistory
		WHERE
		id
		=
		#{id}
	</delete>

	<delete id="delete2" parameterType="articleHistory">
		DELETE FROM
		articlehistory
		WHERE id
		=
		#{id}
	</delete>

	<!-- 获取 -->
	<select id="get" resultMap="articleHistoryMap">
		SELECT * FROM articlehistory
		WHERE
		id
		=
		#{id}
	</select>

	<select id="list" resultMap="articleHistoryMap">
		SELECT * FROM articlehistory
	</select>

	<select id="count" resultType="integer">
		SELECT COUNT(*) FROM
		articlehistory
	</select>


	<!-- 动态操作 -->
	<!-- 动态添加 -->
	<insert id="dynamicInsert" keyColumn="id" keyProperty="id"
		useGeneratedKeys="true" parameterType="articleHistory">
		INSERT INTO articleHistory
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uid != null">
				uid,
			</if>
			<if test="aid != null">
				aid,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="uid != null">
				#{uid},
			</if>
			<if test="aid != null">
				#{aid},
			</if>
		</trim>
	</insert>

	<!-- 动态更新 -->
	<update id="dynamicUpdate" parameterType="articleHistory">
		UPDATE articleHistory
		<set>
			<if test="aid != null">
				uid = #{uid},
			</if>
			<if test="aid != null">
				aid = #{aid},
			</if>
		</set>
		WHERE id=#{id}
	</update>



	<!-- 批量操作 -->
	<!-- 批量添加 -->
	<insert id="batchInsert" keyColumn="id" keyProperty="id"
		useGeneratedKeys="true" parameterType="list">
		INSERT INTO articlehistory(aid,uid) VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.aid},#{item.uid})
		</foreach>
	</insert>

	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="list">
		DELETE FROM articlehistory WHERE id IN
		<foreach collection="list" item="item" open="(" close=")"
			separator=",">
			#{item}
		</foreach>
	</delete>



	<!-- 批量更新 -->
	<!-- <update id="batchUpdate"> </update> -->
	<!-- 动态批量操作 -->
	<!-- 动态批量添加 -->
	<!-- <insert id="dynamicBatchInsert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" 
		parameterType="list"> INSERT INTO articlehistory<trim prefix="(" suffix=")" 
		suffixOverrides=","> <if test="name != null"> name, </if> <if test="password 
		!= null"> password, </if> </trim> VALUES <foreach collection="list" item="item" 
		separator=","> <trim prefix="(" suffix=")" suffixOverrides=","> <if test="name 
		!= null"> #{name}, </if> <if test="password != null"> #{password}, </if> 
		</trim> </foreach> </insert> -->
	<!-- 动态批量更新 -->
	<!-- <update id="dynamicBatchUpdate" parameterType="list"> </update> -->





	<!-- 业务逻辑 -->

	<!-- 获取 -->

	<select id="listByUser" parameterType="integer"
		resultMap="articleHistoryMap">
		SELECT * FROM articlehistory WHERE uid = #{uid}
	</select>

	<select id="listIdByUser" parameterType="integer"
		resultType="integer">
		SELECT id FROM articlehistory WHERE uid = #{uid}
	</select>

	<select id="countByUser" parameterType="integer"
		resultType="integer">
		SELECT COUNT(*) FROM articlehistory WHERE uid = #{uid}
	</select>

	<select id="getByArticleHistory" parameterType="articleHistory"
		resultMap="articleHistoryMap">
		SELECT * FROM articlehistory
		<where>
			<if test="aid != null">
				aid = #{aid}
			</if>
			<if test="uid != null">
				AND uid = #{uid}
			</if>
			<if test="createDate != null">
				AND DATE(createDate) = DATE(#{createDate})
			</if>
		</where>
	</select>

</mapper>







