<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.GroupMapper">
	<resultMap type="group" id="groupMap">
		<id column="id" property="id" />
		<!-- private Integer id; private String name; private Visibility visibility; 
			private GroupType groupType; private Integer uid; -->
		<result column="name" property="name" />
		<result column="visibility" property="visibility" />
		<result column="groupType" property="groupType" />
		<result column="uid" property="uid" />
	</resultMap>

	<!-- 添加 -->
	<insert id="insert" keyColumn="id" keyProperty="id"
		useGeneratedKeys="true" parameterType="group">
		INSERT INTO personal_blog.group
		(name,visibility,groupType,uid) VALUES
		(#{name},#{visibility},#{groupType},#{uid})
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="group">
		UPDATE personal_blog.group SET
		name =
		#{name},visibility = #{visibility},groupType = #{groupType},uid
		=
		#{uid} WHERE id = #{id}
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="integer">
		DELETE FROM
		personal_blog.group
		WHERE
		id
		=
		#{id}
	</delete>

	<delete id="delete2" parameterType="group">
		DELETE FROM
		personal_blog.group
		WHERE id
		=
		#{id}
	</delete>

	<!-- 获取 -->
	<select id="get" resultMap="groupMap">
		SELECT * FROM personal_blog.group
		WHERE
		id
		=
		#{id}
	</select>

	<select id="list" resultMap="groupMap">
		SELECT * FROM personal_blog.group
	</select>

	<select id="count" resultType="integer">
		SELECT COUNT(*) FROM
		personal_blog.group
	</select>


	<!-- 动态操作 -->
	<!-- 动态添加 -->
	<insert id="dynamicInsert" keyColumn="id" keyProperty="id"
		useGeneratedKeys="true" parameterType="group">
		INSERT INTO personal_blog.group
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="visibility != null">
				visibility,
			</if>
			<if test="groupType != null">
				groupType,
			</if>
			<if test="uid != null">
				uid,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name},
			</if>
			<if test="visibility != null">
				#{visibility},
			</if>
			<if test="groupType != null">
				#{groupType},
			</if>
			<if test="uid != null">
				#{uid},
			</if>
		</trim>
	</insert>

	<!-- 动态更新 -->
	<update id="dynamicUpdate" parameterType="group">
		UPDATE personal_blog.group
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="visibility != null">
				visibility = #{visibility},
			</if>
			<if test="groupType != null">
				groupType = #{groupType},
			</if>
			<if test="uid != null">
				uid = #{uid},
			</if>
		</set>
		WHERE id=#{id}
	</update>



	<!-- 批量操作 -->
	<!-- 批量添加 -->
	<insert id="batchInsert" keyColumn="id" keyProperty="id"
		useGeneratedKeys="true" parameterType="list">
		INSERT INTO personal_blog.group(name,visibility,groupType,uid) VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.aid},#{item.gid})
		</foreach>
	</insert>

	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="list">
		DELETE FROM personal_blog.group WHERE id IN
		<foreach collection="list" item="item" open="(" close=")"
			separator=",">
			#{item}
		</foreach>
	</delete>



	<!-- 批量更新 -->
	<!-- <update id="batchUpdate"> </update> -->
	<!-- 动态批量操作 -->
	<!-- 动态批量添加 -->
	<!-- <insert id="dynamicBatchInsert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" 
		parameterType="list"> INSERT INTO group<trim prefix="(" suffix=")" suffixOverrides=","> 
		<if test="name != null"> name, </if> <if test="password != null"> password, 
		</if> </trim> VALUES <foreach collection="list" item="item" separator=","> 
		<trim prefix="(" suffix=")" suffixOverrides=","> <if test="name != null"> 
		#{name}, </if> <if test="password != null"> #{password}, </if> </trim> </foreach> 
		</insert> -->
	<!-- 动态批量更新 -->
	<!-- <update id="dynamicBatchUpdate" parameterType="list"> </update> -->





	<!-- 业务逻辑 -->

	<!-- 获取 -->

	<select id="getByUserNameAndGroupType" resultMap="groupMap">
		SELECT * FROM
		personal_blog.group WHERE uid=#{uid} AND name = #{name} AND groupType
		= #{groupType}
	</select>

	<select id="listByUser" resultMap="groupMap">
		SELECT * FROM
		personal_blog.group WHERE uid = #{uid}
	</select>

	<select id="listByUserAndGroupType" resultMap="groupMap">
		SELECT * FROM
		personal_blog.group WHERE uid = #{uid} AND groupType = #{groupType}
	</select>

	<select id="listByUserGroupTypeAndVisibility"
		resultMap="groupMap">
		SELECT * FROM personal_blog.group WHERE uid = #{uid} AND
		groupType = #{groupType} AND visibility = #{visibility}
	</select>

	<select id="listGroupIdByUser" parameterType="integer"
		resultType="integer">
		SELECT id FROM personal_blog.group WHERE uid = #{uid}
	</select>

	<select id="listGroupId" parameterType="group"
		resultType="integer">
		SELECT id FROM personal_blog.group
		<where>
			<if test="name != null">
				name = #{name}
			</if>
			<if test="visibility != null">
				AND visibility = #{visibility}
			</if>
			<if test="groupType != null">
				AND groupType = #{groupType}
			</if>
			<if test="uid != null">
				AND uid = #{uid}
			</if>
		</where>
	</select>
</mapper>







